!!!
%html
  %head
    %title Welcome to Grails
    %meta(name="layout" content="main")

  #content 

    ${flash.message}

    %g:link(controller="project" action="create")
      new project

    %h1 Project list
    %g:each(in="${projects}" var="project")
      %ul
        %li
          %g:link(controller="project" action="show" id="${project.id}")
            ${project.name}

          %br
          ${project.description}
