!!!
%html
  %head
    %title Project details
    %meta(name="layout" content="main")

  #content 
    %g:link(controller="project" action="create")
      new project

    %h1
      Projekt: ${project.name}
    %p
      Opis: ${project.description}

    %p
      Wymagania:
      %g:each(in="${project.requirements}" var="requirement")
        %ul.req
          %li
            ${requirement.code} | ${requirement.description} | ${requirement.status} | 
            %g:link(controller="requirement" action="edit" id="${requirement.id}")
              edytuj
            %g:link(controller="requirement" action="show" id="${requirement.id}")
              pokaz 
    %p
      %g:link(controller="requirement" action="create" params="[project_id : project.id]")
        new requirement for this project
