!!!
%html
  %head
    %title Project details
    %meta(name="layout" content="main")


  #content 
  
    %g:link(controller="project" action="create")
      new project

    %h1=project.name
    %p
      ${description}

