!!!
%html
  %head
    %title Requirement details
    %meta(name="layout" content="main")


  #content 
    
    ${flash.message}

    %g:form(action="save" method="post")
      %g:hiddenField(name="project.id" value="${params.project_id}")
      .code
        code:
        %g:textField(name="code" value="")

      .desc
        description:
        %g:textField(name="description" value="")      

      %g:select(id="statusesSelect" name="status.id" from="${statuses}" value="" optionKey="id")
      %g:actionSubmit(id="save" action="save" value="Save")

