!!!
%html
  %head
    %title Requirement details
    %meta(name="layout" content="main")


  #content 
    %g:form(action="save" method="post")
      %g:hiddenField(name="project.id" value="${params.project_id}")
      %g:textField(name="name" value="")      
      %g:actionSubmit(id="save" action="save" value="Save")

