!!!
%html
  %head
    %title Requirement details
    %meta(name="layout" content="main")

  :javascript
    window.onload = function() {
      var app = AppUseCase("ud_diagram_div");
    }

  #content 
    
    ${flash.message}
    %h1
      ${requirement.title} #${requirement.id}

    %form(name="update requirement" method="post")
      %g:hiddenField(name="id" value="${requirement.id}")
      .title
        title:
        %g:textField(name="title" value="${requirement.title}" class="input-xlarge")
      .code
        code:
        %g:textField(name="code" value="${requirement.code}" class="input-xlarge")
      .desc
        desc:
        %g:textField(name="description" value="${requirement.description}" class="input-xlarge")
      .stat
        stat:
        %g:select(name="status.id" from="${statuses}" value="${requirement.status}" optionKey="id")

      .usecases
        %ul
          %g:each(in="${requirement.useCases}" var="useCase")
            %li
              ${useCase.title}

        %g:link(controller="useCase" action="create" id="${requirement.id}")
          add use case
      .xml
        xml:
        %g:hiddenField(id='diagramXml' name="diagramXml" value="${requirement.diagramXml}")
      %g:actionSubmit(value="Save" action="update" id="submitbtn")

    #menu
      .btn-group
        %button(id="addActor" class="btn")
          add actor 
        %button(id="addElement" class="btn")
          add element
        %button(id="addInclude" class="btn")
          add include 
        %button(id="addExtend" class="btn")
          add extend 
        %button(id="addSystem" class="btn")
          add system boundries
        %button(id="addCommunication" class="btn")
          add communication

        %button(id="deleteElement" class="btn")
          X 
    #ud_container_div(style="border: 1px solid #000; margin-top: 10px")
      #ud_diagram_div(style="position: relative;")
        %canvas(id="c1" class="ud_diagram_canvas" style="position: absolute;" width="1000")
        %canvas(id="c2" class="ud_diagram_canvas" style="position: absolute;" width="1000")
      %br(style="clear: both;")
