!!!
%html
  %head
    %title Requirement details
    %meta(name="layout" content="main")

  :javascript
    window.onload = function() {
      var app = AppUseCase("ud_diagram_div");
    }

  #content 
    
    ${flash.message}
    req edit: ${requirement.id}
    %form(name="update requirement" method="post")
      %g:hiddenField(name="id" value="${requirement.id}")
      .code
        code:
        %g:textField(name="code" value="${requirement.code}" style="width: 400px")
      .desc
        desc:
        %g:textField(name="description" value="${requirement.description}" style="width: 400px")
      .stat
        stat:
        %g:select(name="status.id" from="${statuses}" value="${requirement.status}" optionKey="id")

      .usecases
        %ul
          %g:each(in="${requirement.useCases}" var="useCase")
            %li
              ${useCase.title}

        %g:link(controller="useCase" action="create" id="${requirement.id}")
          add use case
      .xml
        xml:
        %g:hiddenField(id='diagramXml' name="diagramXml" value="${requirement.diagramXml}")
      %g:actionSubmit(value="Save" action="update" id="submitbtn")

    #menu
      %button(id="addActor")
        add actor 
      %button(id="addElement")
        add element
      %button(id="addInclude")
        add include 
      %button(id="addExtend")
        add extend 
      %button(id="addSystem")
        add system boundries
      %button(id="addCommunication")
        add communication

      %button(id="deleteElement")
        X 
    #ud_container_div(style="border: 1px solid #000;")
      #ud_diagram_div(style="position: relative;")
        %canvas(id="c1" class="ud_diagram_canvas" style="position: absolute;" width="1000")
        %canvas(id="c2" class="ud_diagram_canvas" style="position: absolute;" width="1000")
      %br(style="clear: both;")
