!!!
%html
  %head
    %title Requirement details
    %meta(name="layout" content="main")

  :javascript
    window.onload = function() {
      // init empty diagram here and add some functionalities
        var diag = new AppUseCase("container"); 
      // init the diagram with xml structure here
    }
    
  #content 

    ${flash.message}
  
    %h1
      Edit Use Case #${useCase.id}

    %g:form(method="post")
      %g:hiddenField(name="id" value="${useCase.id}")
      .code
        code: 
        %g:textField(name="code" value="${useCase.code}")
      .title
        title: 
        %g:textField(name="title" value="${useCase.title}")
      .actor
        actor: 
        %g:select(name="primaryActor.id" value="${useCase.primaryActor}" from="${pl.edu.pjwstk.reqmanager.Actor.list()}" optionKey="id")
      .xml
        xml:
        /%g:textArea(id="xmlValue" name="diagramXml" value="${useCase.diagramXml}")
        %g:hiddenField(id='diagramXml' name="diagramXml" value="${useCase.diagramXml}")
      %g:actionSubmit(value="Zapisz" action="update" id="submitbtn")

    #menu
      %button(id="addElement")
        dodaj element
      %button(id="addInclude")
        dodaj include 
      %button(id="addExtend")
        dodaj extend 
    #ud_container_div(style="border: 1px solid #000;")
      #ud_diagram_div(style="position: relative;")
        %canvas(id="c1" class="ud_diagram_canvas" style="position: absolute;" width="1000")
        %canvas(id="c2" class="ud_diagram_canvas" style="position: absolute;" width="1000")
      %br(style="clear: both;")
