!!!
%html
  %head
    %title Requirement details
    %meta(name="layout" content="main")
 
  #content 

    ${flash.message}
  
    %h1
      Edit Use Case #${useCase.id}

    %g:form(method="post")
      %g:hiddenField(name="id" value="${useCase.id}")
      .code
        code: 
        %g:textField(name="code" value="${useCase.code}")
      .title
        title: 
        %g:textField(name="title" value="${useCase.title}")
      .actor
        actors: 
        %g:select(name="actors" value="${useCase.actors}" from="${pl.edu.pjwstk.reqmanager.Actor.list()}" optionKey="id")
      .maincontent
        main content:
        %g:textArea(name="mainContent" value="${useCase.mainContent}" style="width: 400px")
      .basicFlow
        basicFlow:
        %g:textArea(name="basicFlow" value="${useCase.mainContent}" style="width: 400px")
      .alterFlow
        alterFlow:
        %g:textArea(name="alterFlow" value="${useCase.alterFlow}" style="width: 400px")
      .xml
        xml:
        /%g:textArea(id="xmlValue" name="diagramXml" value="${useCase.diagramXml}")
        %g:hiddenField(id='diagramXml' name="diagramXml" value="${useCase.diagramXml}")
      %g:actionSubmit(value="Save" action="update" id="submitbtn")
