!!!
%html
  %head
    %title Requirement details
    %meta(name="layout" content="main")
 
  %r:require(module="ace")
  :javascript
    window.onload = function() {

      $('textarea[class="hideme"]').hide();
  
      $(".editor").each(function() {
        console.log(this.id);
        var editor = ace.edit(this.id);
        editor.setTheme("ace/theme/clouds_midnight");
        var MarkdownMode = require("ace/mode/markdown").Mode;
        editor.getSession().setMode(new MarkdownMode());
        editor.getSession().setUseWrapMode(true);
        var submit = $("#submitbtn");

        var that = this;

        submit.click(function() {
          var txtName = that.id.split("-")[0];
          console.log(txtName);
          var textarea = $("textarea[id='"+txtName+"']");
          console.log(editor.getSession().getValue());
          textarea.val(editor.getSession().getValue());
          console.log(textarea);
          console.log(textarea.val());
        });
      });

    };
  #content 

    ${flash.message}
  
    %h1
      Edit Use Case #${useCase.id}

    %g:form(method="post")
      %g:hiddenField(name="id" value="${useCase.id}")
      .code
        code: 
        %g:textField(name="code" value="${useCase.code}")
      .title
        title: 
        %g:textField(name="title" value="${useCase.title}")
      .actor
        actors: 
        %g:select(name="actors" value="${useCase.actors}" from="${pl.edu.pjwstk.reqmanager.Actor.list()}" optionKey="id")
      #text-areas
        .text
          main content:
          #main-content-editor.editor ${useCase.mainContent}
          %g:textArea(id="main" name="mainContent" value="${useCase.mainContent}" class="hideme")
        .text
          basicFlow:
          #basic-flow-editor.editor ${useCase.basicFlow}
          %g:textArea(id="basic" name="basicFlow" value="${useCase.basicFlow}" class="hideme")
        .text
          alterFlow:
          #alter-flow-editor.editor ${useCase.alterFlow}
          %g:textArea(id="alter" name="alterFlow" value="${useCase.alterFlow}" class="hideme")
      %g:actionSubmit(value="Save" action="update" id="submitbtn")
